<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

@using StudentManagementSystem.Models.ViewModels;
@model IList<AdminViewModel>
@if (TempData["info"] != null)
{
    @if (TempData["info"].ToString().Contains("delete"))
    {
        <div class="alert alert-danger" role="alert">
            @TempData["info"]
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            @TempData["info"]
        </div>
    }
}



@if (User.IsInRole("Admin"))
{
    <h1 class="h4 mb-3">Admin List</h1>
    <table id="adminTable" class="table table-responsive table-bordred table-striped">

                    <thead>
                        <tr>
                            <th scope="col">Sr.</th>
                            <th scope="col">Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>DOB</th>
                            <th>NRC</th>
                            <th>Gender</th>
                            <th>Father Name</th>
                            @if(User.IsInRole("Admin"))
                            {
                                <th>Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                        }

                        @foreach (var list in Model)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@list.Name</td>
                                <td>@list.Email</td>
                                <td>@list.Address</td>
                                <td>@list.Phone</td>
                                <td>@list.DOB.ToString("dd-MM-yyyy")</td>
                                <td>@list.NRC</td>
                                <td>@list.Gender</td>
                                <td>@list.FatherName</td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
                                                <ul class="dropdown-menu">

                                                    <li>
                                                        <a type="button" class="dropdown-item btn text-info btn-xs mb-2" href="/admin/edit?Id=@list.Id">
                                                            <i class="fa-regular fa-pen-to-square"></i> Edit
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a type="button" class="dropdown-item btn text-danger btn-xs " asp-controller="Admin" asp-action="Delete" asp-route-Id="@list.Id" onclick="return confirm('Are you sure want to delete the record?')">
                                                            <i class="fa-regular fa-trash-can"></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                        </div>
                                    </td>


                                }
                            </tr>
                            index++;
                        }
                       

                    </tbody>

                </table>
}


              

<script>
    $(document).ready(function () {
        $('#adminTable').DataTable();
    });
</script>