<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

@model List<StudentManagementSystem.Models.ViewModels.TeacherViewModel>
@if (TempData["info"] != null)
{
    @if (TempData["info"].ToString().Contains("delete"))
    {
        <div class="alert alert-danger" role="alert">
            @TempData["info"]
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            @TempData["info"]
        </div>
    }
}
<div class="container">
        
    
    <div class="row">
        
        <h1 class="h4 mb-3">Teacher List</h1>
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="teacherTable" class="table table-bordred table-striped">

                    <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Gender</th>
                            <th>DOB</th>
                            <th>NRC</th>
                            <th>Position</th>
                            <th>Father Name</th>
                                @if (User.IsInRole("Admin"))
                                {
                                    <th>Action</th>
                                }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                        }

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.Address</td>
                                <td>@item.Phone</td>
                                <td>@item.Gender</td>
                                <td>@item.DOB.ToString("yyyy-MM-dd")</td>
                                <td>@item.NRC</td>
                                <td>@item.Position</td>
                                <td>@item.FatherName</td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
                                                <ul class="dropdown-menu">

                                                    <li>
                                                        <a type="button" class="dropdown-item btn text-info btn-xs mb-2" href="/teacher/edit?Id=@item.Id">
                                                            <i class="fa-regular fa-pen-to-square"></i> Edit
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a type="button" class="dropdown-item btn text-danger btn-xs " asp-controller="Teacher" asp-action="Delete" asp-route-Id="@item.Id" onclick="return confirm('Are you sure want to delete the record?')">
                                                            <i class="fa-regular fa-trash-can"></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                        </div>
                                    </td>
                                }
                            </tr>
                            index++;
                        }


                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#teacherTable").DataTable();
    });
</script>

