<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

@model List<StudentManagementSystem.Models.ViewModels.TeacherViewModel>
@if (TempData["info"] != null)
{
    @if (TempData["info"].ToString().Contains("delete"))
    {
        <div class="alert alert-danger" role="alert">
            @TempData["info"]
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            @TempData["info"]
        </div>
    }
}
<div class="container">
    <div class="row">


        <div class="col-md-12">
            <div class="table-responsive">
                <table id="teacherTable" class="table table-bordred table-striped table-dark">

                    <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Gender</th>
                            <th>DOB</th>
                            <th>NRC</th>
                            <th>Position</th>
                            <th>Father Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = 1;
                        }

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.Address</td>
                                <td>@item.Phone</td>
                                <td>@item.Gender</td>
                                <td>@item.DOB.ToString("yyyy-MM-dd")</td>
                                <td>@item.NRC</td>
                                <td>@item.Position</td>
                                <td>@item.FatherName</td>
                                <td>
                                    <p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/teacher/edit?id=@item.Id"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></a></p>
                                </td>
                                <td>
                                    <a href="/teacher/delete?id=@item.Id" data-bs-toggle="offcanvas" data-bs-target="#delete"><button class="btn btn-danger btn-xs" data-title="Delete"><span class="glyphicon glyphicon-trash"></span></button></a>

                                    
                                    <div class="offcanvas offcanvas-top mx-auto h-50" tabindex="-1" id="delete" aria-labelledby="offcanvasExampleLabel" style="width: 500px;">
                                        <div class="offcanvas-header">
                                            <h5 class="h3 text-warning offcanvas-title" id="offcanvasExampleLabel">Attention</h5>

                                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                        </div>
                                        <p class="alert text-danger">Are You Sure Want To Delete The Data?</p>
                                        <div class="offcanvasbottom ">
                                            <a asp-controller="ExamResult" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger w-100">Yes</a>
                                            <button type="button" class="btn btn-secondary w-100 my-3" data-bs-dismiss="offcanvas" aria-label="Close">No</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            index++;
                        }


                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#teacherTable").DataTable();
    });
</script>

