@model IList<AssignmentViewModel>
<div class="container">

    @if (User.IsInRole("Admin") || User.Identity.IsAuthenticated)
    {
        <h1 class="h4 mt-3">Assignments:</h1>
        <div class="row my-3">
            @foreach (var detail in Model)
            {
                if (detail == null)
                {
                    <p class="alert alert-info" role="alert">No Chapter In Here!</p>
                }
                <div class="col-lg-5">
                    <div class="card shadow">
                        <div class="card-body">
                            <h1 class="h5"><span class="fw-bold">Chapter: </span> @detail.Name</h1>
                            <p class="card-text"><span class="fw-bold">Description: </span> @detail.Description</p>
                            <p class="card-text"><span class="fw-bold">Course: </span> @detail.CourseId</p>
                            <p class="card-text"><span class="fw-bold">Batch: </span> @detail.BatchId</p>
                            <p class="card-text d-flex gap-4">
                                <span class="fw-bold">Assignment: </span>
                                <a asp-controller="Assignment" asp-action="DownloadFile" asp-route-id="@detail.URL">
                                    <i class="fa-solid fa-download fa-xl"></i>
                                </a>
                                <a asp-controller="Assignment" asp-action="ReadPDF" asp-route-id="@detail.URL">
                                    <span class="text-uppercase fw-bold">Read</span>
                                </a>
                            </p>
                            
                        </div>
                    </div>
                </div>
            }

        </div>
    }
</div>