
@model IList<AssignmentViewModel>
@if (TempData["info"] != null)
{
    @if (TempData["info"].ToString().Contains("delete"))
    {
        <div class="alert alert-danger mt-3" role="alert">
            @TempData["info"]
        </div>
    }
    else
    {
        <div class="alert alert-success mt-3" role="alert">
            @TempData["info"]
        </div>
    }
}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
        </ol>
    </nav>

    @if (User.IsInRole("Admin"))
    {
        
        <div class="row">

            <h1 class="h4 mb-3">Assignment List</h1>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="assignmentTale" class="table table-bordred table-striped">

                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Assignment</th>
                                <th>Course</th>
                                <th>Batch</th>
                                    @if (!User.IsInRole("Teacher"))
                                    {
                                        <th>Action</th>
                                    }
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var index = 1;
                            }
                            @foreach(var list in Model)
                            {
                            
                                <tr>
                                    <td>@list.Name</td>
                                    <td>@list.Description</td>
                                    <td>
                                        <a asp-controller="Assignment" asp-action="DownloadFile" asp-route-id="@list.URL">
                                            <i class="fa-solid fa-download fa-xl"></i>
                                        </a>
                                    </td>
                                    <td>@list.CourseId</td>
                                    <td>@list.BatchId</td>
                                    @if (!User.IsInRole("Teacher"))
                                    {
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
                                                <ul class="dropdown-menu">

                                                    <li>
                                                        <a type="button" class="dropdown-item btn text-info btn-xs mb-2" href="/assignment/edit?Id=@list.Id">
                                                            <i class="fa-regular fa-pen-to-square"></i> Edit
                                                        </a>
                                                    </li>
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        
                                                        <li class="">
                                                            <a type="button" class="dropdown-item btn text-danger btn-xs " asp-controller="Assignment" asp-action="Delete" asp-route-Id="@list.Id" onclick="return confirm('Are you sure want to delete the record?')">
                                                                <i class="fa-regular fa-trash-can"></i> Delete
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                                
                                            </div>
                                        </td>

                                        
                                    }
                                </tr>
                                index++;
                            }

                        </tbody>

                    </table>

               

                </div>

            </div>
        </div>
    }
</div>









<script>
    $(document).ready(function () {
        $("#assignmentTale").DataTable();
    });
</script>