<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
@model IList<AssignmentViewModel>
@if (TempData["info"] != null)
{
    @if (TempData["info"].ToString().Contains("delete"))
    {
        <div class="alert alert-danger mt-3" role="alert">
            @TempData["info"]
        </div>
    }
    else
    {
        <div class="alert alert-success mt-3" role="alert">
            @TempData["info"]
        </div>
    }
}
<div class="container">
    @if (User.IsInRole("Admin") || User.IsInRole("Teacher") || User.Identity.IsAuthenticated)
    {
        <h1 class="h3 fw-bold">Assignment: </h1>
        <div class="row my-3 border-bottom">
            @foreach (var detail in Model)
            {

                <div class="col-lg-4 pb-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h3 pb-2 border-bottom border-danger"><span class="fw-bold">Name: </span>@detail.Name</h1>

                            <div class=" gap-4 border-bottom border-danger pb-3">
                                <p class="card-text"><span class="fw-bold">Description: </span>@detail.Description</p>
                                <p class="card-text"><span class="fw-bold">Course: </span>@detail.CourseId</p>
                                <p class="card-text">
                                    <span class="fw-bold me-3">Assignment: </span>
                                    <a href="/assignment/DownloadFile?fileName=@detail.URL">
                                        <i class="fa-solid fa-download fa-xl"></i>
                                    </a>
                                </p>
                                <p class="card-text"><span class="fw-bold">Out Time: </span>@detail.BatchId</p>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    }

    @if (User.IsInRole("Admin")||User.Identity.IsAuthenticated)
    {
        
        <div class="row">

            <h1 class="h4 mb-3">Assignment List</h1>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="assignmentTale" class="table table-bordred table-striped">

                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Assignment</th>
                                <th>Course</th>
                                <th>Batch</th>
                                    @if (!User.IsInRole("Teacher"))
                                    {
                                        <th>Action</th>
                                    }
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var index = 1;
                            }
                            @foreach(var list in Model)
                            {
                            
                                <tr>
                                    <td>@list.Name</td>
                                    <td>@list.Description</td>
                                    <td>
                                        <a href="/assignment/DownloadFile?fileName=@list.URL">
                                            <i class="fa-solid fa-download fa-xl"></i>
                                        </a>
                                    </td>
                                    <td>@list.CourseId</td>
                                    <td>@list.BatchId</td>
                                    @if (!User.IsInRole("Teacher"))
                                    {
                                        <td class="dropdown">
                                            <button class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
                                            <ul class="dropdown-menu">
                                                    <li class="dropdown-item">
                                                        <a class="btn btn-primary btn-xs" data-title="Edit" href="/assignment/edit?Id=@list.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                                                    </li>
                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <li class="dropdown-item">
                                                        <a class="btn btn-danger btn-xs" data-title="Delete" data-bs-toggle="offcanvas" data-bs-target="#delete"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </li>
                                                }
                                            </ul>
                                        </td>

                                        <div class="offcanvas offcanvas-top mx-auto h-50" tabindex="-1" id="delete" aria-labelledby="offcanvasExampleLabel" style="width: 500px;">
                                            <div class="offcanvas-header">
                                                <h5 class="h2 text-warning offcanvas-title" id="offcanvasExampleLabel">Attention</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                            </div>
                                            <div class="offcanvas-body">
                                                <p class="alert text-danger">Are You Sure Want To Delete The Data?</p>
                                                <div class="offcanvasbottom ">
                                                    <a asp-controller="Assignment" asp-action="Delete" asp-route-id="@list.Id" class="btn btn-danger w-100">Yes</a>
                                                    <a type="button" class="btn btn-secondary w-100 my-3" data-bs-dismiss="offcanvas" aria-label="Close">No</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </tr>
                                index++;
                            }


                        </tbody>

                    </table>

               

                </div>

            </div>
        </div>
    }
</div>









<script>
    $(document).ready(function () {
        $("#assignmentTale").DataTable();
    });
</script>