
@model IList<TeacherCourseViewModel>
@if (TempData["info"] != null)
{
    @if (TempData["info"].ToString().Contains("delete"))
    {
        <div class="alert alert-danger mt-3" role="alert">
            @TempData["info"]
        </div>
    }
    else
    {
        <div class="alert alert-success mt-3" role="alert">
            @TempData["info"]
        </div>
    }
}
    <div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
        </ol>
    </nav>

    @if (User.IsInRole("Admin"))
    {
        
            <div class="table-responsive">
                <h1 class="h4 mb-3">Teacher Course List</h1>
                <table id="teacherCourseTable" class="table table-bordred table-striped">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Teacher</th>
                            <th>Course</th>
                            @if (User.IsInRole("Admin"))
                            {
                                <th>Action</th>
                                <th>Detail</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var index = 1;
                        }
                        @foreach(var list in Model)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@list.TeacherId</td>
                                <td>@list.CourseId</td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
                                                <ul class="dropdown-menu">


                                                    <li>
                                                        <a type="button" class="dropdown-item btn text-info btn-xs mb-2" href="/teachercourse/edit?Id=@list.Id">
                                                            <i class="fa-regular fa-pen-to-square"></i> Edit
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a type="button" class="dropdown-item btn text-danger btn-xs " asp-controller="TeacherCourse" asp-action="Delete" asp-route-Id="@list.Id" onclick="return confirm('Are you sure want to delete the record?')">
                                                            <i class="fa-regular fa-trash-can"></i> Delete
                                                        </a>
                                                    </li>
                                                </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <a asp-controller="Batch" asp-action="Detail" asp-route-id="@list.Id" class="link-underline-primary link-underline-opacity-100-hover">Details>></a>
                                    </td>

                                }
                            </tr>
                            index++;    
                        }


                    </tbody>

                </table>

            </div>
    }
    </div>

<script>
    $(document).ready(function () {
        $("#teacherCourseTable").DataTable();
    });
</script>

