<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

@model IList<TeacherCourseViewModel>
@if (TempData["info"] != null)
{
    @if (TempData["info"].ToString().Contains("delete"))
    {
        <div class="alert alert-danger mt-3" role="alert">
            @TempData["info"]
        </div>
    }
    else
    {
        <div class="alert alert-success mt-3" role="alert">
            @TempData["info"]
        </div>
    }
}
    <div class="container">

            <div class="row mt-5">
                @foreach (var detail in Model)
                {

                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="h5"><span class="fw-bold">Name: </span>@detail.TeacherId</h1>
                                <div class="d-flex gap-4">

                                    <p class="card-text"><span class="fw-bold">Course: </span>@detail.CourseId</p>
                                    <p class="card-text"><span class="fw-bold">Batch: </span>@detail.BatchInfo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                 <hr class="border border-danger my-4 w-75 mx-auto">
            </div>

            <div class="table-responsive">
                <h1 class="h4 mb-3">Teacher Course List</h1>
                <table id="teacherCourseTable" class="table table-bordred table-striped">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Teacher</th>
                            <th>Course</th>
                            @if (User.IsInRole("Admin"))
                            {
                                <th>Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var index = 1;
                        }
                        @foreach(var list in Model)
                        {
                            
                            <tr>
                                <td>@index</td>
                                <td>@list.TeacherId</td>
                                <td>@list.CourseId</td>
                                @if (User.IsInRole("Admin"))
                                {

                                    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a class="btn btn-primary btn-xs" data-title="Edit" href="/teachercourse/edit?Id=@list.Id"><span class="glyphicon glyphicon-pencil"></span></a></p></td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Delete">
                                            <a class="btn btn-danger btn-xs" data-title="Delete" href="/teachercourse/delete?Id=@list.Id" onclick="return confirm('Are you sure to delete the record?')">Delete</a>
                                        </p>
                                    </td>

                                    <td class="dropdown">
                                        <button class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item">
                                                <a class="btn btn-primary btn-xs" data-title="Edit" href="/teachercourse/edit?Id=@list.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a class="btn btn-danger btn-xs" data-title="Delete" data-bs-toggle="offcanvas" data-bs-target="#delete"><span class="glyphicon glyphicon-trash"></span></a>
                                            </li>
                                        </ul>
                                    </td>

                                        <div class="offcanvas offcanvas-top mx-auto h-50" tabindex="-1" id="delete" aria-labelledby="offcanvasExampleLabel" style="width: 500px;">
                                            <div class="offcanvas-header">
                                                <h5 class="h2 text-warning offcanvas-title" id="offcanvasExampleLabel">Attention</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                            </div>
                                            <div class="offcanvas-body">
                                                <p class="alert text-danger">Are You Sure Want To Delete The Data?</p>
                                                <div class="offcanvasbottom ">
                                                    <a asp-controller="TeacherCourse" asp-action="Delete" asp-route-id="@list.Id" class="btn btn-danger w-100">Yes</a>
                                                    <a type="button" class="btn btn-secondary w-100 my-3" data-bs-dismiss="offcanvas" aria-label="Close">No</a>
                                                </div>
                                            </div>
                                        </div>

                                }
                            </tr>
                        }


                    </tbody>

                </table>

            </div>
    </div>

<script>
    $(document).ready(function () {
        $("#teacherCourseTable").DataTable();
    });
</script>

