<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

@model IList<TeacherCourseViewModel>
@if (TempData["info"] != null)
{
    @if (TempData["info"].ToString().Contains("delete"))
    {
        <div class="alert alert-danger" role="alert">
            @TempData["info"]
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            @TempData["info"]
        </div>
    }
}


            <div class="table-responsive">
                <h1 class="h4 mb-3">Teacher Course List</h1>
                <table id="teacherCourseTable" class="table table-bordred table-striped">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Teacher</th>
                            <th>Course</th>
                            @if (User.IsInRole("Admin"))
                            {
                                <th>Edit</th>
                                <th>Delete</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var index = 1;
                        }
                        @foreach(var list in Model)
                        {
                            
                            <tr>
                                <td>@index</td>
                                <td>@list.TeacherId</td>
                                <td>@list.CourseId</td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a class="btn btn-primary btn-xs" data-title="Edit" href="/teachercourse/edit?Id=@list.Id"><span class="glyphicon glyphicon-pencil"></span></a></p></td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="Delete">
                                            <a class="btn btn-danger btn-xs" data-title="Delete" href="/teachercourse/delete?Id=@list.Id" onclick="return confirm('Are you sure to delete the record?')">Delete</a>
                                        </p>
                                    </td>
                                }
                            </tr>
                        }


                    </tbody>

                </table>

            </div>



<script>
    $(document).ready(function () {
        $("#teacherCourseTable").DataTable();
    });
</script>

