@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model CompositeViewModel

@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center my-5">
        <h1 class="display-4">Welcome</h1>
        <h1 class="display-6">To</h1>
        <h1 class="display-4">School Management System</h1>
    </div>

    <div class="d-flex justify-content-center gap-5">
        <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login">Login</a>
        <a class="btn btn-secondary btn-lg" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
}
else if (User.IsInRole("Admin"))
{ 
        <div class="">
            <div class="mx-auto">

                <div class="container">
                    <div class="col bg-white sticky-top">
                        <div class="ps-4 pt-2 d-flex align-items-center border-primary border-bottom" style="height: 70px;">
                            <div>
                                <h1 class="h5">Admin</h1>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <span style="color: #999999;">@UserManager.GetUserName(User)!</span>
                                }
                            </div>
                            <div class="ms-auto me-3 dropdown">
                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-regular fa-circle-user fa-2xl"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    @foreach (var list in Model.Admins)
                                    {
                                    if (list.Email == UserManager.GetEmailAsync(UserManager.GetUserAsync(User).Result).Result)
                                    {

                                        <li class="dropdown-item">

                                            <a href="/admin/edit?Id=@list.Id" class="link-secondary link-underline link-underline-opacity-0">
                                                <i class="fa-solid fa-gear me-2"></i> Setting
                                            </a>
                                        </li>
                                    }
                                    <li class="dropdown-item d-flex align-items-center">

                                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button id="logout" type="submit" class="nav-link btn btn-link border-0">
                                                <i class="fa-solid fa-right-from-bracket me-2"></i>
                                                Sign out
                                            </button>
                                        </form>
                                    </li>
                                    }
                        </ul>
                            </div>
                        </div>
                    </div>

                    @if (TempData["info"] != null)
                    {
                        @if (TempData["info"].ToString().Contains("delete"))
                        {
                            <div class="alert alert-danger mt-3" role="alert">
                                @TempData["info"]
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-success mt-3" role="alert">
                                @TempData["info"]
                            </div>
                        }
                    }
                    <div class="row my-5 gap-lg-5">
                        <div class="col-lg-5">
                            <div class="card position-relative shadow">
                                 <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">@ViewBag.TeacherCount</span>
                                <div class="card-body">
                                    <h1 class="h3">Teacher</h1>
                                    <p>In here, you can see all of Teacher's Info.</p>
                                 </div>
                                <div class="card-footer">
                                    <a asp-controller="TeacherCourse" asp-action="Detail" class="btn btn-primary float-end">Details>></a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-5">
                            <div class="card position-relative shadow">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">@ViewBag.StudentCount</span>
                                <div class="card-body">
                                    <h1 class="h3">Student</h1>
                                    <p>In here, you can see all of the student's batches.</p>
                                </div>

                                <div class="card-footer">
                                    <a asp-controller="StudentBatch" asp-action="Detail" class="btn btn-primary float-end">Details>></a>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="row gap-lg-5 mb-5">
                        <div class="col-lg-5">
                            <div class="card position-relative shadow">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">@ViewBag.CourseCount</span>
                                <div class="card-body">
                                    <h1 class="h3">Course</h1>
                                    <p>In here, you can see all of courses in this school.</p>
                                </div>

                                <div class="card-footer">
                                    <a asp-controller="Course" asp-action="Detail" class="btn btn-primary float-end">Details>></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="card position-relative shadow">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">@ViewBag.BatchCount</span>
                                <div class="card-body">
                                    <h1 class="h3">Batch</h1>
                                    <p>In here, you can see all of batches in this school.</p>
                                </div>

                                <div class="card-footer">
                                    <a asp-controller="Batch" asp-action="Detail" class="btn btn-primary float-end">Details>></a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
}
    

else
{
    Layout = "_Layout";
}




