@model ChapterViewModel
<div class="container w-50 mx-auto my-3 p-5 border-start border-end border-bottom rounded-start rounded-end shadow-sm" style="border-top: 12px solid #699BF7">
    <div class="d-flex justify-content-center align-items-center mb-4">
        <div class="me-3">
            <i class="fa-solid fa-book-open fa-2xl" style="color: #699BF7"></i>
        </div>
        <div class="text-center">
            <span class="mate-sc text-uppercase fw-bold">Leadership</span>
            <h1 class="h5 brand-space">Excellence</h1>
        </div>
    </div>


    <form action="/chapter/entry" method="post" enctype="multipart/form-data">
        <input type="text" name="Id" value="@Model.Id" hidden/>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="Name" id="name" class="form-control" value="@Model.Name" required />
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" name="Description" id="description" class="form-control" value="@Model.Description" required />
        </div>
        <div class="mb-3">
            <label for="batchId" class="form-label">Batch</label>
            <select name="BatchId" id="batchId" class="form-select">
                <option>---choose option---</option>
                @foreach (var batch in ViewBag.Batch)
                {
                    if (@batch.Id == Model.BatchId)
                    {

                        <option value="@batch.Id" selected>
                            @batch.Name
                        </option>
                    }
                    else
                    {
                        <option value="@batch.Id">
                            @batch.Name
                        </option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Book</label>
            <select name="BookId" id="bookId" class="form-select">
                <option>---choose option---</option>
                @foreach (var book in ViewBag.Book)
                {
                    if (@book.Id == Model.BookId)
                    {

                        <option value="@book.Id" selected>
                            @book.Name
                        </option>
                    }
                    else
                    {
                        <option value="@book.Id">
                            @book.Name
                        </option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Video</label>
            <select name="VideoId" id="videoId" class="form-select">
                <option>---choose option---</option>
                @foreach (var video in ViewBag.Video)
                {
                    if (@video.Id == Model.VideoId)
                    {

                        <option value="@video.Id" selected>
                            @video.Name
                        </option>
                    }
                    else
                    {
                        <option value="@video.Id">
                            @video.Name
                        </option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary text-white" style="border-radius: 10px 0 10px 0;">Update</button>
            <button class="btn btn-secondary text-white" style="border-radius: 10px 0 10px 0;" type="reset">Cancel</button>
        </div>
    </form>
</div>