<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
@model IList<BookViewModel>
@if (TempData["info"] != null)
{
    @if (TempData["info"].ToString().Contains("delete"))
    {
        <div class="alert alert-danger mt-3" role="alert">
            @TempData["info"]
        </div>
    }
    else
    {
        <div class="alert alert-success mt-3" role="alert">
            @TempData["info"]
        </div>
    }
}
<div class="container">
    @if (User.IsInRole("Admin"))
    {
        <div class="row">
            <h1 class="h4 mb-5">Book List</h1>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="bookTable" class="table table-bordred table-striped">
                        <thead>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Book</th>
                            <th>Course</th>
                            <th>Batch</th>
                                @if (User.IsInRole("Admin"))
                                {
                                    <th>Action</th>

                                }
                        </thead>
                        <tbody>
                            @{
                                var index = 1;
                            }
                            @foreach(var list in Model)
                            {

                                <tr>
                                    <td>@list.Name</td>
                                    <td>@list.Description</td>
                                    <td>
                                        <a asp-controller="Book" asp-action="DownloadFile" asp-route-id="@list.BookURL">
                                            <i class="fa-solid fa-download fa-xl"></i>
                                        </a>
                                    </td>
                                    <td>@list.CourseId</td>
                                    <td>@list.BatchId</td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
                                                    <ul class="dropdown-menu">

                                                        <li>
                                                            <a type="button" class="dropdown-item btn text-info btn-xs mb-2" href="/book/edit?Id=@list.Id">
                                                                <i class="fa-regular fa-pen-to-square"></i> Edit
                                                            </a>
                                                        </li>
                                                        <li class="">
                                                            <a type="button" class="dropdown-item btn text-danger btn-xs " asp-controller="Book" asp-action="Delete" asp-route-Id="@list.Id" onclick="return confirm('Are you sure want to delete the record?')">
                                                                <i class="fa-regular fa-trash-can"></i> Delete
                                                            </a>
                                                        </li>
                                                    </ul>
                                            </div>
                                        </td>


                                    }
                                </tr>
                                index++;
                            }


                        </tbody>

                    </table>

                </div>

            </div>
        </div>
    
    }
</div>


<script>
    $(document).ready(function () {
        $("#bookTable").DataTable();
    });
</script>

