<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
@model IList<VideoViewModel>
@if (TempData["info"] != null)
{
    @if (TempData["info"].ToString().Contains("delete"))
    {
        <div class="alert alert-danger mt-3" role="alert">
            @TempData["info"]
        </div>
    }
    else
    {
        <div class="alert alert-success mt-3" role="alert">
            @TempData["info"]
        </div>
    }
}
<div class="container">
    <div class="row">

        <h1 class="h4 mb-3">Video List</h1>
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="videoTabel" class="table table-bordred table-striped">

                    <thead>
                        <tr>
                             <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Course</th>
                            <th>Batch</th>
                            <th>Video</th>
                            @if (User.IsInRole("Admin"))
                            {
                               <th>Action</th>
                            }
                         </tr>
                    </thead>
                    <tbody>
                        @{
                            var index = 1;
                        }
                        @foreach(var list in Model)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@list.Name</td>
                                <td>@list.Description</td>
                                <td>@list.CourseId</td>
                                <td>@list.BatchId</td>
                                <td>
                                    <video width="220" height="140" controls>
                                        <source src="/videos/@list.URL" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </td>

                                @if (User.IsInRole("Admin"))
                                {
                                    <td class="dropdown">
                                        <button class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item" data-placement="top" data-toggle="tooltip" title="Edit">
                                                <a class="btn btn-primary btn-xs" data-title="Edit" href="/video/edit?Id=@list.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                                            </li>
                                            <li class="dropdown-item" data-placement="top" data-toggle="tooltip" title="Delete">
                                                    <a class="btn btn-danger btn-xs" data-title="Delete" href="/video/delete?Id=@list.Id" onclick="return confirm('Are you sure to delete the record?')">Delete</a>
                                            </li>
                                        </ul>
                                    </td>
                                }
                            </tr>
                        }


                    </tbody>

                </table>

            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#videoTabel").DataTable();
    });
</script>


