@model CourseViewModel
<div class="container w-50 mx-auto my-3 p-5 border-start border-end border-bottom rounded-start rounded-end shadow-sm" style="border-top: 12px solid #699BF7">
    <div class="d-flex justify-content-center align-items-center mb-4">
        <div class="me-3">
            <i class="fa-solid fa-book-open fa-2xl" style="color: #699BF7"></i>
        </div>
        <div class="text-center">
            <span class="mate-sc text-uppercase fw-bold">Leadership</span>
            <h1 class="h5 brand-space">Excellence</h1>
        </div>
    </div>

    <form action="/course/update" method="post" enctype="multipart/form-data">
        <input type="text" name="Id" value="@Model.Id" hidden />
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="Name" id="name" class="form-control" value="@Model.Name" required />
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" name="Description" id="description" class="form-control" value="@Model.Description" required />
        </div>
        <div class="mb-3">
            <label for="openingDate" class="form-label">Opening Date</label>
            <input type="date" name="OpeningDate" id="openingDate" class="form-control" value="@Model.OpeningDate.ToString("yyyy-MM-dd")" required />
        </div>
        <div class="mb-3">
            <label for="inHour" class="form-label">Duration In Hour</label>
            <input type="text" name="DurationInHour" id="inHour" class="form-control" value="@Model.DurationInHour" required />
        </div>
        <div class="mb-3">
            <label for="inMonth" class="form-label">Duration In Month</label>
            <input type="text" name="DurationInMonth" id="inMonth" class="form-control" value="@Model.DurationInMonth" required />
        </div>
        <div class="mb-3">
            <button class="btn btn-primary text-white" style="border-radius: 10px 0 10px 0;">Update</button>
            <button class="btn btn-secondary text-white" style="border-radius: 10px 0 10px 0;" type="reset">Cancel</button>
        </div>
    </form>
</div>