@model IList<BatchViewModel>

<div class="container">
    <h1 class="h4 mt-3">Batches: </h1>
    <div class="row">
        @foreach(var detail in Model)
        {
            
            <div class="col-lg-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h1 class="h5"><span class="fw-bold">Name: </span>@detail.Name</h1>
                        <p class="card-text"><span class="fw-bold">Description: </span>@detail.Description</p>
                        <p class="card-text"><span class="fw-bold">Course: </span>@detail.CourseId</p>
                        <p class="card-text"><span class="fw-bold">Opening Date: </span>@detail.OpeningDate.ToString("dd-MM-yyyy")</p>
                        <p class="card-text"><span class="fw-bold">Duration In Hour: </span>@detail.DurationInHour</p>
                        <p class="card-text"><span class="fw-bold">Duration In Month: </span>@detail.DurationInMonth</p>

                        <a asp-controller="Chapter" asp-action="StudentDetail" asp-route-id="@detail.Id" class="link-underline-primary link-underline-opacity-100-hover float-end">Chapter Details>></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>